.body-space{
    max-width: 100%;
    overflow-x: hidden;
    max-height: 100%;
    overflow-y: hidden;
}
.bg{
    background-size: cover;
}
.rocketBg{
    background-size: cover;
}
.space{
    background-size: cover;
    margin-top: 0%;
}
.spaceBg2{
    background-size: cover;
}