.bg{
  height: 750px
}
.rocketBg{
  height: 1075px;
  background-size: cover;
}


/*@media screen and (max-width: 1024px) and (min-width: 769px) { /* Tablet */
  .about {
    flex-direction: 'column';
    text-align: 'center';
  }
  .name {
    font-size: '1rem';
    margin-left: '0';
    margin-top: '2rem';
  }
  .para {
    font-size: '1.25rem';
    margin-left: '2rem';
    margin-right: '2rem';
  }
  .img {
    height: '500px';
    margin-top: '2rem';
  }

@media screen and (max-width: 768px){ /* // Phone */
  
  .bodyspace{
    height: 100%;
    width: 100%;
  }
  .about {
    flex-direction: 'column';
    text-align: 'center';
    height:80%;
  }
  .name {
    font-size: '1rem';
    margin-left: '1px';
    margin-top: '1.5rem';
  }
  .para {
    font-size: '1rem';
    margin-left: '10rem';
    margin-right: '1rem';
    margin-bottom: '10rem';
  }
  .img {
    height: '30px';
    margin-top: '1rem';
  }
}









/* Tablet (max-width: 768px) 
@media (max-width: 1024px) and (min-width: 768px) {
    .about-container {
      flex-direction: column;
      text-align: center;
    }
  
    .about-image {
      width: 150px;
      height: 150px;
    }
  
    .about-heading {
      font-size: 1.8rem;
    }
  
    .about-text {
      font-size: 1rem;
    }
  }
  
   Phone (max-width: 600px) 
  @media (max-width: 768px) and (min-width: 601px) {
    #about {
      padding: 3rem 1rem;
    }
  
    .about-heading {
      font-size: 1.5rem;
    }
  
    .about-text {
      font-size: 0.9rem;
    }
  }*/