@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

.spaceBg2{
    background-color: 100%;
}
.label{
  font-family:'Anta', sans-serif; 
}
.contact-buttons{
  margin-top: 5rem;
}

@media (max-width: 1024px) and (min-width: 769px) { /* Tablet */
.contact-form{
  margin-top: 10px;
   width: 60%;
}
.name{
  margin-left: -20rem;
}
.email{
  margin-left: -20rem;
}
.message{
  margin-left: -20rem;
}
.submit{
  margin-left: -20rem;
}
.contact-buttons{
  margin-left: -8rem;
}
  }

@media (max-width: 768px) and (min-width: 601px) { /* // tablet/Phone */
.contact-form{
  margin-top: 10px;
  width: 60%;
}
.name{
  margin-left: -22rem;
}
.email{
  margin-left: -22rem;
}
.message{
  margin-left: -22rem;
}
.submit{
  margin-left: -22rem;
}
.contact-buttons{
  margin-left: -4rem;
}
}
@media (max-width: 768px) and (min-width: 601px) { /* // Phone */
.contact-form{
  margin-top: 10px;
  width: 60%;
}
.name{
  margin-left: -22rem;
}
.email{
  margin-left: -22rem;
}
.message{
  margin-left: -22rem;
}
.submit{
  margin-left: -22rem;
}
.contact-buttons{
  margin-left: -4rem;
}
}

@media screen and (max-width: 414px) and (min-width: 375px) {
  .contact-form {
    width: 80%; /* Make the form take most of the screen width */
    margin: auto; /* Center the form */
    height: auto; /* Adjust height dynamically */
    padding: 20px;
  }

  .name,
  .email,
  .message {
    margin-top: 10px; /* Reduce margin for smaller screens */
    margin-left: -35.2rem;
  }

  .contact-form input,
  .contact-form textarea {
    width: 40%; /* Make inputs take full width */
    font-size: 1rem; /* Reduce font size */
  }

  .submit {
    width: 50rem; /* Make button full width */
    font-size: 1.2rem; /* Adjust font size */
    margin-left: -37rem;
    justify-content: center;
  }
  .contact-buttons{
    margin-left: -9rem;
    margin-top: 3rem;
  }
}
  
  
  
  
  

 