@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

.videoBg {
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.embla {
    max-width: 60rem;
    margin: auto;
    --slide-height: 40rem;
    --slide-spacing: 1rem;
    --slide-size: 100%;
  }
  .embla__viewport {
    overflow: hidden;
  }
  .embla__container {
    display: flex;
    touch-action: pan-y pinch-zoom;
    margin-left: calc(var(--slide-spacing) * -1);
  }
  .embla__slide {
    transform: translate3d(0, 0, 0);
    flex: 0 0 var(--slide-size);
    min-width: 0;
    padding-left: var(--slide-spacing);
  }
  .embla__slide__img {
    border-radius: 1.8rem;
    display: block;
    height: var(--slide-height);
    width: 100%;
    object-fit: cover;
  }
  .embla__controls {
    display: grid;
    grid-template-columns: auto 1fr;
    justify-content: space-between;
    gap: 1.2rem;
    margin-top: 1.8rem;
  }
  .embla__buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.6rem;
    align-items: center;
    color:white;
  }
  .embla__button {
    -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    touch-action: manipulation;
    display: inline-flex;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
    box-shadow: inset 0 0 0 0.2rem;
    width: 3.6rem;
    height: 3.6rem;
    z-index: 1;
    border-radius: 50%;
    color: var(--text-body);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
  }
  .embla__button:disabled {
    color: var(--detail-high-contrast);
  }
  .embla__button__svg {
    width: 35%;
    height: 35%;
  }
  .embla__slide__img {
    user-select: none;
  }
  .title{
    color: white;
    font-size: 3.5rem;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    font-family: 'Anta', sans-serif;
    text-align: center;
  }

@media (max-width: 1024px) and (min-width: 769px) { /* Tablet */
  .embla__slide__img{
    margin-left: 2rem;
    height: 90%;
    width: 90%;
  }
  .title{
    font-size: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
  }
  .embla__button{
    width: 3rem;
    height: 3rem;
  }
  .embla__buttons{
    margin-left: 2rem;
  }
}
@media (max-width: 768px) and (min-width: 601px) { /* // Phone */
  .embla__slide__img{
    margin-left: 2rem;
    height: 90%;
    width: 90%;
  }
  .title{
    font-size: 2.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
  }
  .embla__button{
    width: 2.5rem;
    height: 2.5rem;
  }
  .embla__buttons{
    margin-left: 1.6rem;
  }
 
}

@media screen and (max-width: 425px) {
  .embla__slide__img{
    margin-left: 1rem;
    height: 90%;
    width: 90%;
    margin-top: -1.2rem;
  }
  .title{
    font-size: 1.5rem;
    margin-top: -.1rem;
    margin-bottom: 1.2rem;
    margin-left: .4rem;
  }
  .embla__button{
    width: 2.5rem;
    height: 2.5rem;
  }
  .embla__buttons{
    margin-top: -1rem;
    margin-left: 1rem;
  }

}
