/* Tablet (max-width: 1024px) */
@media screen and (max-width: 1024px) and (min-width: 769px) {
  .experience {
    margin-left: 50px;
  }

  .exp-block {
    flex-direction: row;
    justify-content: center;
    text-align: center;
  }

  .expLogo {
    height: 80px;
    width: 80px;
  }

  .expText {
    font-size: 1.3rem;
    margin-left: 1.5rem;
  }
}

/* Mobile (max-width: 768px) */
@media screen and (max-width: 768px) and (min-width: 601px) {
  .experience {
    margin-left: 0;
    align-items: center;
  }

  .exp-block {
    flex-direction: column;
    text-align: center;
  }

  .expLogo {
    height: 60px;
    width: 60px;
  }

  .expText {
    font-size: 1.2rem;
    margin-left: 0;
    margin-top: 10px;
  }
}
  
  
  
  
  
  
  
  
  
  