.loading {
  top: 0;
  left: 0;
 
  background-image: url('../images/LogoBackground.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensures it's above all other content */
}
.lottie-player {
  width: 50px;
  height: 50px;
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  .loading {
    top: 0;
    left: 0;
    height:max-content;
    width:max-content;
    background-image: url('../images/LogoBackground.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensures it's above all other content */
  }
  }
  
  /* Mobile (max-width: 768px) */
  @media screen and (max-width: 768px) and (min-width: 601px) {
    .loading {
      top: 0;
      left: 0;
     
      background-image: url('../images/LogoBackground.jpg');
      background-size: cover;
      background-position: center;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 9999; /* Ensures it's above all other content */
    }
  }
  
  /* Phone (max-width: 425px) */
  @media screen and (max-width: 414px) and (min-width: 376px) {
    .loading {
      top: 0;
      left: 0;
      background-image: url('../images/LogoBackground.jpg');
      background-size: cover;
      background-position: center;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 9999;
    }
    .lottie-player {
      width: 70rem;
      height: 70rem;
    }
  }
  