@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

/* Tablet (max-width: 1024px) */
@media screen and (max-width: 1024px) and (min-width: 769px) {
    header {
        padding: 2%;
    }

    .logo {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    .navLink {
        gap: 8px;
    }

    .navLink a {
        font-size: 1.25rem;
    }
}

/* Phone (max-width: 768px) */
@media screen and (max-width: 768px) and (min-width: 601px) {
    header {
        flex-direction: column;
        text-align: center;
        padding: 2%;
    }

    .logo h1 {
        font-size: 1.5rem;
    }

    .navLink {
        font-size: .20rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }
}